<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.GDPU.Demo.UserLogin.mapper.UserMapper">
    <select id="selectUserByUsernameAndPassword" resultType="User">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND password = #{password}
    </select>

    <select id="selectUserByToken" resultType="User">
        SELECT *
        FROM user
        WHERE token = #{token}
    </select>

    <update id="updateUserToken">
        UPDATE user
        SET token = #{token}
        WHERE userId = #{userId}
    </update>
</mapper>