<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="edu.GDPU.Demo.UserLogin.entity"/>
        <package name="edu.GDPU.Demo.Announcement.entity"/>
        <package name="edu.GDPU.Demo.Adminer.entity"/>
        <package name="edu.GDPU.Demo.Student.entity"/>
	<package name="edu.GDPU.Demo.Fee.entity"/>
    </typeAliases>
</configuration>